<div>
    <h2>register form</h2>
    <form method="POST" action="/user" class="form">
        <input type="text" name="name">
        <input type="text" name="age">
        <button type="submit">submit</button>
    </form>
</div>