<form>
    <h2>register form</h2>
    <form method="post" action="/user/register">
        <input type="text" name="name">
        <input type="password" name="password">
        <button type="submit">submit</button>
    </form>
</form>